.Xil/
*.cache/
*.gen/
*.hw/
*.ip_user_files/
*.jou
*.log
*.runs/
*.sim/
*.str
*.xpr
build/
dfx_runtime.txt
firmware/bootrom/build/
firmware/bootrom/*.elf
firmware/bootrom/*.bin
firmware/bootrom/*.map
firmware/bootrom/*.o
firmware/bootrom/*.hex
firmware/bootrom/*.mem
__pycache__/
*.pyc
petalinux/
linux/uio/accel_mmio_demo
linux/uio/accel_cmdq_host_test
linux/uio/*.pbm
